p, li {
  font-size: 12pt;
}

h1 {
  font-size: 28pt;
}
h1.withSubtitle {
  margin-bottom: 0;
}

h2 {
  font-size: 18pt;
}
h2.subtitle {
  font-style: italic;
  font-size: 13pt;
  margin-top: 0;
  margin-bottom: 28pt;
}
h2.subtitle .smaller {
  font-size: 11pt;
}

nav {
  background-color: #e6e6e6;
  outline-style: solid;
  outline-color: #cccccc;
  outline-width: 1px;
  padding: 1rem;
}
nav > h2 {
  font-size: 14pt;
}